<div class="flex-nw al-c jc-c main-b">
  <div class="flex-nw flex-c al-c main">
    <div class="main-t">
      <h2>Bienvenido a <i>Shopéame</i></h2>
    </div>

    <div class="main-q">
      <h4>¿Qué es <i>Shopéame</i>?</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis culpa ipsam, vel enim repellat nam est expedita error asperiores nisi voluptates, eum cum optio repudiandae quo provident quia consectetur eos?</p>
      <h4>¿Para qué puedo usar <i>Shopéame</i>?</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem dolorem deleniti exercitationem fugit, impedit id, ducimus illum sed atque soluta ex quaerat doloribus iusto recusandae itaque libero excepturi. Quae, eum.</p>
      <h4>¿Quiénes hacemos en <i>Shopéame</i>?</h4>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero, veritatis esse. Rerum fugiat hic minus nam placeat praesentium sequi voluptate laboriosam maiores maxime atque incidunt, repellendus numquam laudantium harum recusandae.</p>
      <h4>¿Es seguro usar <i>Shopéame</i>?</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. At autem in incidunt distinctio ratione, facere laudantium consectetur nihil minima labore. Inventore aspernatur mollitia at consectetur ipsam exercitationem, cumque soluta ad.</p>
    </div>
  </div>
</div>
