.flex-w {
  display: flex;
  flex-wrap: wrap;
 }

 .flex-nw {
   display: flex;
   flex-wrap: nowrap;
 }

 .flex-c {
   flex-direction: column;
 }

 .jc-c {
   justify-content: center;
 }

 .al-c {
   align-items: center;
 }

.main-b {
  background-color: #EEEEEE;
  padding: 60px 0px;
}

.main {
  width: 65%;

  background-color: #FFFFFF;
  border-color: 1px solid black;
  border-radius: 15px;

  &-t {
    padding-top: 20px;
  }

  &-q {
    padding: 20px;

    & h4 {
      padding: 20px 0px;
    }
  }
}
